p{
    font-size: large;
    font-weight: lighter;
}
h4{
   text-align: center;
   font-weight: bolder;
}
/* navbar */

.navbar-scrolled{
    background-color: #000000;
    box-shadow: 0 3px 10px rgba( 0, 0, 0, 0.15);
  }
  
  #navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all 3s;
  }
  .nav-link{
    transition: all 0.2s;
    margin: 0 15px;
  }
  .nav-link:hover{
    text-decoration: underline 2px solid white;
  }
  
  
  /* Navbar Logo */
  
  
  .image{
    height: 100px;
    width: 100px;
    border-radius: 60%;
  }
  
  /* navbar hover*/
  
  .dropdown:hover>.dropdown-menu {
    display: block;
  }



/* Heading Animation*/


.animate-charcter
{
  text-align: center;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #3700ffe3 0%,
    #44107a 29%,
    #13ff4a 67%,
    #fff800 100%
  
  );
  background-clip: border-box;
  background-size: 100% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 20px;
  font-style: oblique;
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}







  /* footer */


.footer{
    background: #000000de;
    color:white;
    
    .links{
      ul {list-style-type: none;}
      li a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color:#4180CB;
          }
      }
    }  
    .about-company{
      i{font-size: 25px;}
      a{
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
      }
    } 
    .location{
      i{font-size: 18px;}
      p a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color:#4180CB;
          }
      }
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
  }
  